.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
  margin-top: 50px;
}

.search-form {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.search-bar {
  max-width: 500px;
  width: 80%;
  height: 30px;
  font-size: 18px;
  border: none;
  color: #333333;
  border-bottom: 2px solid #0093aaff;
}

.search-bar:focus {
  outline: none;
  border-bottom-color: #0093aa99;
}
